body,p,a,h1,h2,h3,h4,h5,h6,ul,ol,dl,dt,dd,input,textarea,select,
option,form{margin:0;
	        font: 12px/1.5 arial tahoma,"微软雅黑";
	        text-decoration:none;
	        padding:0;
	        color:black;
	        list-style:none;}

